@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  /* ==Open Sans=======font-family: "Open Sans", sans-serif; */
     /*==Nunito==========   font-family: "Nunito", sans-serif;*/
    /* =====poppins=======font-family: "Poppins", sans-serif; */
    --orange: #FF5538;
}
.nav-link{
    padding: 0 !important;
     font-family: "Lato", sans-serif;
     font-size: 18px;
     font-weight: 700;
    
}
.navbar-nav{
    gap: 48px;
    
}
.btn{
    padding: 14px 28px !important;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 18px;
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 200%;
}
.btn:hover{
background-color: var(--orange);
color: #FFFFFF;
}
.btn:active{
    background-color: var(--orange) !important;
    color: #FFFFFF !important;
}
.container{
    max-width: 1408px !important;
}
.nav-item i{
    margin-left: 8px;
    font-size: 18px;
    
}

.navbar{
    position: absolute;
    width: 1408px;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    
}

.one{
    text-align: center;
    padding-top: 293px;
    
}
.one h1{
    width: 771px;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0 auto;
}
.one p{
    width: 547px;
    text-transform: capitalize;
    line-height: 200%;
    margin: 0 auto;
    font-size: 18px;
    color: #29313D;
    font-weight: 400;
    margin-bottom: 44px;
    margin-top: 24px;
    font-family: "Nunito", sans-serif;
}
.button{
    background-color: transparent;
    color: var(--orange) ;
    border: 2px solid var(--orange);
    padding: 12px 26px !important;
    margin-left: 24px;
     font-family: "Nunito", sans-serif;
}
.button:hover{
background-color: transparent;
color: var(--orange) ;
border: 2px solid var(--orange) ;
}
.button:active{
    background-color:transparent !important;
    color: var(--orange) !important;
    border: 2px solid var(--orange) ;
}

#baner{
    background: url(../image/Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

    
}



/* =========card 1 ===========*/
.card{
    height: 327px;
   max-width: 450px;
position: absolute;
bottom: -50%;
border: none;
box-shadow: 0px 44px 40px 0px rgba(0,0,0,0.02);
-webkit-box-shadow: 0px 44px 40px 0px rgba(0,0,0,0.02);
-moz-box-shadow: 0px 44px 40px 0px rgba(0,0,0,0.02);
 
    
}
.card-body{
    padding: 40px 25px;
}
.card-body p{
    width: 374px;
     font-family: "Nunito", sans-serif;
    font-size: 18;
    font-weight: 400;
    color: #29313D;
    line-height: 200%;
}
.card-body h3{
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: 34px;
    margin-bottom: 16px;
}
.parant{
   position: relative; 
   padding-bottom: 297px;
}
.ball{
    margin-top: -150px;
}

#baner ul{
    position: absolute;
    display: flex;
    gap: 100px;
    rotate: -90deg;
    align-items: center;
    top: 450px;
    left: -200px;
    justify-content: center;
    /* left: -200px; */
    
    

}
#baner ul li{
    list-style: none;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}
#baner ul li .baner-icon{
    rotate: 90deg;
    margin-right: 30px;
}
/* ============baner end================ */

/* =============Connect start============= */
#Connect{
  padding-top: 120px;
  position: relative;
}
#Connect .cros{
    position: absolute;
    right: 85px;
    top: 200px;
}
#Connect p{
  color: var(--orange);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
#Connect h2{
     font-family: "Poppins", sans-serif;
     font-size: 48px;
     font-weight: 600;
      text-transform: capitalize;
      width: 449px;
      margin-top: 10px;
      line-height: 140%;
}
#Connect .big-box{
    position: absolute;
    width: 55%;
    background-color: rgba(251, 243, 240,.8);
    right: 0;
    padding: 100px 185px;
    box-sizing: border-box;

}
#Connect .image-container .big-image{
    position: absolute;
    width: 50%;
    left: 0;
    height: 521px;
    top: 53px;
    z-index: 1;
}
#Connect .image-container .circle{
    position: absolute;
    left: 35%;
    top: -30px;
}

#Connect .image-container{
    display: flex;
    position: relative;
    
}
#Connect .image-container .big-box h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 140%;
    width: 570px;
    font-family: "Poppins", sans-serif;
    color: #29313D;
}
#Connect .image-container .big-box p{
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    font-family: "Nunito", sans-serif;
    color: #29313D;
    width: 501px;
    margin-top: 20px;
    margin-bottom: 48px;
}
/* ==========connect part end================== */

/* =============completed part start================= */
#completed{
    margin-top: 626px;
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}
#completed button{
    background-color: transparent;
    border: 1px solid var(--orange);
    color: var(--orange);
    font-weight: 600;
    font-size: 18px;
     font-family: "Nunito", sans-serif;

}
#completed p{
    color: var(--orange);
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.h-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
#completed .h-con h2{
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
    width: 693px;
    
}
#completed .card-body .card-title{
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 140%;
    color: #29313D;
}
#completed .card-body a{
    text-decoration: none;
    color: var(--orange);
    font-size: 18px;
     font-family: "Nunito", sans-serif;
     font-weight: 500;
     text-transform: capitalize;
}
#completed .cad .card-body{
   box-shadow: 0px -9px 40px 0px rgb(26, 19, 62,.06);
-webkit-box-shadow: 0px -9px 40px 0px rgb(26, 19, 62,.06);
-moz-box-shadow: 0px -9px 40px 0px rgb(26, 19, 62,.06);
   
}


#completed .r-1{
    margin-bottom: 30px;
}
#completed .column{
    padding-left: 0px;
   
}
#completed .column2{
    padding-right: 0;
   
}
#completed .completed-img-top{
    position: absolute;
    top: -220px;
    z-index: -1;
    left: 0;
}
#completed .completed-X{
    position: absolute;
    bottom: 107px;
    right: 143px;
}
/* ===========completed end========== */

/* =============work start============ */
#work{
    background-color: rgba(255, 220, 216,.2);
    padding: 120px 0;
    position: relative;
}
#work .work-shak{
    position: absolute;
    top: 0;
    right: 0;
}
#work .work-X{
    position: absolute;
    right: 378px;
    top: 116px;
}
#work .work-ball{
    position: absolute;
    left: 687px;
    bottom: 46px;
}
#work .work-bigball{
    position: absolute;
    top: 230px;
    left: 69px;
    z-index: -1;
}
#work .work-ball2{
    position: absolute;
    top: 56px;
    left: 260px;
}
#work .item{
    height: 230px ;
    width: 259px;
    background-color: #FFFFFF;
}
#work .item h2{
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 140%;
    padding:74px 96px 0px 96px;
}
#work .item p{
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400; 
    line-height: 100%;
    text-transform: capitalize;
    text-align: center;
    margin-top: 8px;
}
#work .row{
    row-gap: 30px;
}
#work .imam h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 140%;
   font-family: "Poppins", sans-serif;
   width: 570px;
   color: #29313D;
}
#work .imam p{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    width: 550px;
    line-height: 200%;
    color: #29313D;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
} 
/*===================WORK PART END======================== */

/* ==================companies start=========================== */
#companies{
    padding: 120px 0;
}
#companies h2{
    text-align: center;
    line-height: 140%;
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    font-family: "Poppins", sans-serif;
    width: 849px;
    margin: 0 auto;
}
#companies .companies-img{
    margin-top: 60px;
    /* display: flex; */
    justify-content: space-between;
}
/* ========================companies end======================= */

/* ==========================customer start===================== */
#customer{
    background-color: #FDF9F8;
    padding: 120px 0;
}
#customer h2{
    font-size: 48px;
    text-transform: capitalize;
    line-height: 140%;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 60px;
}
#customer p{
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
     font-family: "Nunito", sans-serif;
     text-transform: capitalize;
     width: 690px;
     margin-top: 60px;
}
#customer h3{
    font-size: 36px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 180%;
    margin-top: 60px;
}
.customer-img{
    gap: 28px;
}

/* ==========================customer end===================== */

/* ==========================project start======================== */
#project{
    background-color: #FFD7C8;
    padding: 100px 0;
    position: relative;
}
#project .project-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#project h5{
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    font-family: "Poppins", sans-serif;
    color: #29313D;
    margin-bottom: 7px;
}
#project h2{
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 140%;
   
}
#project p{
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    font-family: "Nunito", sans-serif;
    width: 1283px;
    text-transform: capitalize;
     margin-top: 72px;
}
#project .project-img{
    position: absolute;
    top: 0;
    right: 0;
}
/* ========================#project end====================== */

/* ==========footer-top start============================================ */
#footer-top p{
font-size: 18px;
line-height: 180%;
font-weight: 400;
font-family: "Nunito", sans-serif;
text-transform: capitalize;
width: 449px;
}
#footer-top .footer-li-con{
    justify-content: space-between;
}
#footer-top  h5{
font-size: 24px;
font-weight: 600;
line-height: 140%;
font-family: "Open Sans", sans-serif;
color: #29313D;
margin-bottom: 48px;
}
#footer-top li{
    list-style: none;
    margin-bottom: 30px;
}
#footer-top li a{
    text-decoration: none;
    color: #29313D;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    line-height: 120%;
    font-weight: 600;
}
/* ==========footer-top-end============================================ */
/* =============footer-bottom-start============================= */
#footer-bottom {
    margin-top: 80px;
}
#footer-bottom .bottom-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-bottom .list{
    display: flex;
    gap: 60px;
    margin-bottom: 20px;

}
#footer-bottom li{
    list-style: none;
}
#footer-bottom .bottom-con p{
font-size: 18;
font-weight: 400;
line-height: 180%;
 font-family: "Nunito", sans-serif;
 text-transform: capitalize;
}
#footer-bottom .bottom-con li{
font-size: 18;
font-weight: 400;
line-height: 180%;
 font-family: "Nunito", sans-serif;
 text-transform: capitalize;
}


/* =============footer-bottom-end============================= */
footer{
    padding: 140px 0 57px 0;
}