@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  /* ==Open Sans=======font-family: "Open Sans", sans-serif; */
     /*==Nunito==========   font-family: "Nunito", sans-serif;*/
    /* =====poppins=======font-family: "Poppins", sans-serif; */
    --orange: #FF5538;
}
.nav-link{
    padding: 0 !important;
     font-family: "Lato", sans-serif;
     font-size: 18px;
     font-weight: 700;
    
}
.navbar-nav{
    gap: 48px;
    
}
.btn{
    padding: 14px 28px !important;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF5538;
    border-radius: 18px;
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 200%;
}
.btn:hover{
background-color: #FF5538;
color: #FFFFFF;
}
.btn:active{
    background-color: #FF5538 !important;
    color: #FFFFFF !important;
}
.container{
    max-width: 1408px !important;
}
.nav-item i{
    margin-left: 8px;
    font-size: 18px;
    
}

.navbar{
    position: absolute;
    width: 1408px;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    
}




.one{
    text-align: center;
    padding-top: 293px;
    
}
.one h1{
    width: 771px;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0 auto;
}
.one p{
    width: 547px;
    text-transform: capitalize;
    line-height: 200%;
    margin: 0 auto;
    font-size: 18px;
    color: #29313D;
    font-weight: 400;
    margin-bottom: 44px;
    margin-top: 24px;
    font-family: "Nunito", sans-serif;
}
.button{
    background-color: transparent;
    color: #FF5538 ;
    border: 2px solid #FF5538 ;
    padding: 12px 26px !important;
    margin-left: 24px;
     font-family: "Nunito", sans-serif;
}
.button:hover{
background-color: transparent;
color: #FF5538 ;
border: 2px solid #FF5538 ;
}
.button:active{
    background-color:transparent !important;
    color: #FF5538 !important;
    border: 2px solid #FF5538 ;
}

#baner{
    background: url(../image/Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

    
}



/* =========card 1 ===========*/
.card{
    height: 327px;
   max-width: 450px;
position: absolute;
bottom: -50%;
border: none;
box-shadow: 0px 44px 40px 0px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 44px 40px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 44px 40px 0px rgba(0,0,0,0.2);
 
    
}
.card-body{
    padding: 40px 25px;
}
.card-body p{
    width: 374px;
     font-family: "Nunito", sans-serif;
    font-size: 18;
    font-weight: 400;
    color: #29313D;
    line-height: 200%;
}
.card-body h3{
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: 34px;
    margin-bottom: 16px;
}
.parant{
   position: relative; 
   padding-bottom: 297px;
}
.ball{
    margin-top: -150px;
}

#baner ul{
    position: absolute;
    display: flex;
    gap: 100px;
    rotate: -90deg;
    align-items: center;
    top: 450px;
    left: -200px;
    justify-content: center;
    /* left: -200px; */
    
    

}
#baner ul li{
    list-style: none;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}
#baner ul li .baner-icon{
    rotate: 90deg;
    margin-right: 30px;
}
/* ============baner end================ */

/* =============Connect start============= */
#Connect{
  padding-top: 120px;
  position: relative;
}
#Connect .cros{
    position: absolute;
    right: 85px;
    top: 200px;
}
#Connect p{
  color: var(--orange);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
#Connect h2{
     font-family: "Poppins", sans-serif;
     font-size: 48px;
     font-weight: 600;
      text-transform: capitalize;
      width: 449px;
      margin-top: 10px;
      line-height: 140%;
}
#Connect .big-box{
    position: absolute;
    width: 55%;
    background-color: rgba(251, 243, 240,.8);
    right: 0;
    padding: 100px 185px;
    box-sizing: border-box;

}
#Connect .image-container .big-image{
    position: absolute;
    width: 50%;
    left: 0;
    height: 521px;
    top: 53px;
    z-index: 1;
}
#Connect .image-container .circle{
    position: absolute;
    left: 35%;
    top: -30px;
}

#Connect .image-container{
    display: flex;
    position: relative;
    
}
#Connect .image-container .big-box h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 140%;
    width: 570px;
    font-family: "Poppins", sans-serif;
    color: #29313D;
}
#Connect .image-container .big-box p{
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    font-family: "Nunito", sans-serif;
    color: #29313D;
    width: 501px;
    margin-top: 20px;
    margin-bottom: 48px;
}

